<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vehicule_location?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

        <mapping class="location.app.vehicule_location_app.models.Chauffeur" />
        <mapping class="location.app.vehicule_location_app.models.Client" />
        <mapping class="location.app.vehicule_location_app.models.Facture" />
        <mapping class="location.app.vehicule_location_app.models.Reservation" />
        <mapping class="location.app.vehicule_location_app.models.Vehicule" />
        <mapping class="location.app.vehicule_location_app.models.Utilisateur" />
    </session-factory>
</hibernate-configuration>